# Puerto del servidor
PORT=3000

# Base de datos PostgreSQL
DATABASE_URL="postgresql://usuario:password@localhost:5432/sistema_educativo?schema=public"

# JWT Secret
JWT_SECRET=tu_jwt_secret_aqui

# Entorno
NODE_ENV=development